<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <a href="/">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <%= link_to "Contacts", :contacts %>
    </nav>
  </header>

<div class="container">
  <%= yield %>

</div>

</body>
</html>
